<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваша учетная запись активирована!</title>
</head>
<body>
    <h2>Поздравляем! Ваша учетная запись c электронной почтой {{instance}} активирована!</h2>
        <hr>
            <h3>
                <a> Для просмотра новостного портала перейдите по </a>
                <a href="http://localhost:8000/news">ссылке.</a>
                <p></p>
                <a> Для перехода на страницу авторизации воспользуйтесь </a>
                <a href="http://localhost:8000/accounts/login/">ссылкой.</a>
                
            </h3> 
</body>
</html>